
.snippet_wrapper {
    padding: 1em;
    background-color: #272822;
    margin: 1em auto;
    border-radius: 10px;
    max-width: 700px;
    width: 90%;
}

.sign_wrapper {
  padding: 1em;
  max-width: 500px;
  width: 50%;
  margin: 2em auto;
  border-radius: 10px;
  background-color: #272822;
  color: #ffee59;
  font: 14px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace
}

.progress_bar {
  border-radius: 10px;
  margin: 1em auto;
  max-width: 700px;
  width: 90%;
}

.game_card_wrapper {
  max-width: 500px;
  width: 50%;
  margin: 2em auto;
}

.user_game_card_wrapper {
  max-width: 600px;
  width: 70%;
  margin: 1em auto;
}

.comparison_wrapper {
  max-width: 700px;
  width: 90%;
  margin: 1em auto;
}

#comparison {
  border-radius: 10px;
  margin: 1em auto;
  background-color: #272822;
  color: #ffee59;
  font: 14px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace
}

/* .flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
  min-height: 100px
} */

.single-chart {
  width: 33%;
  justify-content: space-around ;
  margin: 1em auto;
}

#accuracy-chart {
  width: 100%;
  justify-content: space-around ;
  margin: 1em auto;
}

#time-chart {
  width: 100%;
  justify-content: space-around ;
  margin: 1em auto;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.circular-chart.green .circle {
  stroke: #4CC790;
}

.circular-chart.blue .circle {
  stroke: #0dbbbb;
}

.percentage {
  fill: rgb(102, 102, 102);
  font-family: monospace;
  font-size: 0.5em;
  text-anchor: middle;
}

#monospace {
  font-family: monospace;
  color: rgb(102, 102, 102)
}