 .start-button {
    animation-duration: 0.2s;
    animation-name: fadeout;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(3px);
    opacity: 0.4;
 }

 @keyframes fadeout {
    from {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
     }

    to {
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(3px);
        opacity: 0.4;
    }
 }


  .login-button {
   animation-duration: 1s;
   animation-name: buttonfadein;
   opacity: 1;
   display: block;
   position: relative;
   font-size: 20px;
   text-align: center;
   z-index: 1;
 }

 .login-button-not-displayed {
   opacity: 0.4;
   position: relative;
   font-size: 20px;
   text-align: center;
   z-index: 1;
 }


 @keyframes buttonfadein {
    from   {
      opacity: 0.4;
      position: relative;
      font-size: 20px;
      text-align: center;
      z-index: 1;
   }

    to   {
      animation-duration: 1s;
      animation-name: fadein;
      opacity: 1;
      display: block;
      position: relative;
      font-size: 20px;
      text-align: center;
      z-index: 1;
   }
 }
